<!-- app/page/page.component.html -->
<ng-container *ngIf="page">
  <img class="fullBg" fullpage [src]="page.image"/>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>{{page.title}}</h1></mat-card-title>
      <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{page.content}}
    </mat-card-content>
  </mat-card>

</ng-container>
