<!--<router-outlet></router-outlet>-->
<mat-toolbar color="primary">
  <h1><span class="light">SUPER</span>LOGO</h1>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['home']">HOME</a>
  <a mat-button [routerLink]="['about']">ABOUT</a>
  <a mat-button [routerLink]="['contact']">CONTACT</a>
</mat-toolbar>
<app-page></app-page>
