/* styles.css */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body, app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  overflow: hidden;
  margin:0;
}
